<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/make-a-monster" version="0.5" viewmodes="fullscreen">
	<icon src="icon_128.png"/>  
	<content src="index.html"/>  
	<name>make-a-monster</name>
</widget>
